.button{
    -fx-background-color : transparent;
    -fx-border-color: #0000ff;
    -fx-text-fill: #000000;
}
.button:hover {
    -fx-background-color : #77fff2;
    -fx-text-fill: #000000;
}
.button:pressed{
    -fx-background-color :  #4000ff;
    -fx-text-fill: #ffff;
}